.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  text-align: center;
}

.blog-style {
  padding-top: 10px;
  padding-left: 2px;
  border: 1px solid;
  margin-bottom: 5px;
}